.section {
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}

.title {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
}

.searchForm {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.searchInput {
  padding: 10px;
  font-size: 1em;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

.searchButton {
  padding: 10px 20px;
  font-size: 1em;
  color: rgb(100, 9, 62);
  background-color: #bc8f8f;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.searchButton:hover {
  background-color: rgb(100, 9, 62);
  color: #bc8f8f;
}

.error {
  color: red;
  font-size: 1em;
  margin-top: 10px;
}
